In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Mountains.csv')

In [3]:
data1 = pd.pivot_table(data, index = 'Parent mountain', values = 'Mountain', aggfunc ='count')

In [4]:
data2 = data1.loc[data1['Mountain'] >3]

In [5]:
data2.sort_values( by = 'Mountain', ascending = False )

                 Mountain
Parent mountain
Mount Everest           9
Gasherbrum I            8
Cho Oyu                 7
Kangchenjunga           7
Distaghil Sar           5
K2                      5
Dhaulagiri              4
Shisha Pangma           4