In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('hw_25000.csv', names = ['index', 'height_inches', 'weight_pounds'], header = 0 )
data.head()

   index  height_inches  weight_pounds
0      1       65.78331       112.9925
1      2       71.51521       136.4873
2      3       69.39874       153.0269
3      4       68.21660       142.3354
4      5       67.78781       144.2971

In [3]:
data['height'] = data['height_inches'] * 2.54
data.head()

   index  height_inches  weight_pounds      height
0      1       65.78331       112.9925  167.089607
1      2       71.51521       136.4873  181.648633
2      3       69.39874       153.0269  176.272800
3      4       68.21660       142.3354  173.270164
4      5       67.78781       144.2971  172.181037

In [4]:
data1 = data.loc[data['height'] >170]
data2 = data1.loc[data1['height'] <180]
data2.head()

   index  height_inches  weight_pounds      height
2      3       69.39874       153.0269  176.272800
3      4       68.21660       142.3354  173.270164
4      5       67.78781       144.2971  172.181037
5      6       68.69784       123.3024  174.492514
6      7       69.80204       141.4947  177.297182

In [5]:
sample1 = data2['weight_pounds'].head(20).tolist()
sample1

[153.0269,
 142.3354,
 144.2971,
 123.3024,
 141.4947,
 136.4623,
 112.3723,
 114.14299999999999,
 125.6107,
 122.4618,
 116.0866,
 142.9733,
 124.0449,
 141.2807,
 143.5392,
 129.5027,
 141.8501,
 129.7244,
 142.4235,
 131.5502]

In [6]:
np.mean(data['weight_pounds'])

127.07942116079916

In [7]:
np.mean(sample1)

132.92411000000001

In [8]:
from scipy import stats
stats.ttest_1samp( sample1, data['weight_pounds'].mean())

Ttest_1sampResult(statistic=2.2438433326713279, pvalue=0.036952752151255777)

### Т.к. значение pvalue меньше 0.05, то разница среднего веса людей в исходном файле и среднего веса людей во всем наборе данных №2 статистически значима